  .Playlist {
    padding: 10px;
    height: 480px;
    width: 33.333333%;
    margin-left: 0;
    text-decoration: none;
    text-align: center;
  }

  .PlaylistItem {
    width: 100%;
  }

  .PlaylistItem img {
    /*width: 100%;*/
  }
